.add-customer-container{
    width: 30vw;
    margin: auto;
    margin-top: 8vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 0.5vw 2vw;
}

.add-customer-title{
    text-align: center;
    font-size: 2vw;
}
.customer-registration, .customer-name, .customer-number, .customer-brand, .customer-branch{
    font-size: 1.2vw;
    font-weight: 500;
}

.input-reg-customer {
    border: none;
    padding: 0.5vw;
    width: 55%;
    border-radius: 0.2vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1vw;
    margin-left: 1vw;
   }

   .input-reg-name {
    border: none;
    padding: 0.5vw;
    width: 55%;
    border-radius: 0.2vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1vw;
    margin-left: 2.7vw;
   }

   .input-reg-number{
    border: none;
    padding: 0.5vw;
    width: 55%;
    border-radius: 0.2vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1vw;
    margin-left: 1.4vw;
   }

   .input-reg-brand {
    border: none;
    padding: 0.5vw;
    width: 55%;
    border-radius: 0.2vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1vw;
    margin-left: 1.8vw;
   }
   
   .input-reg-branch {
    border: none;
    padding: 0.5vw;
    width: 55%;
    border-radius: 0.2vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1vw;
    margin-left: 1.8vw;
   }

   .input-reg-customer:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5,
           inset -10px -10px 20px #ffffff;
    transition: 0.3s;
   }

   .login-password{
    font-size: 1.2vw;
  
}

.input-password {
    border: none;
    padding: 1rem;
    width: 85%;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1.2vw;
   }
   
   .input-password:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5,
           inset -10px -10px 20px #ffffff;
    transition: 0.3s;
   }

.form-container{
    margin: 2vw;
}


.reg-user-btn-div{
    width: 30%;
    margin: auto;
}

.reg-user-btn{
    width: 100%;
    padding: 0.6vw 0.8vw;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 0.4vw;
    border: none;
    cursor: pointer;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

@media screen and (max-width: 1440px) {
       .add-customer-container{
              width: 40vw;
              margin: auto;
              margin-top: 10vw;
              padding: 1vw 2vw;
       }
          
       .add-customer-title{
              font-size: 2.5vw;
       }
       .customer-registration, .customer-name, .customer-number, .customer-brand, .customer-branch{
              font-size: 1.7vw;
       }
          
       .input-reg-customer {
              padding: 0.7vw;
              width: 60%;
              border-radius: 0.4vw;
       }
          
       .input-reg-name {
              padding: 0.7vw;
              width: 60%;
              border-radius: 0.4vw;
              margin-left: 3.6vw;
       }
          
       .input-reg-number{
              padding: 0.7vw;
              width: 60%;
              border-radius: 0.4vw;
              margin-left: 2vw;
       }
          
       .input-reg-brand {
              padding: 0.7vw;
              width: 60%;
              border-radius: 0.4vw;
              margin-left: 2.6vw;
       }
             
       .input-reg-branch {
              padding: 0.7vw;
              width: 60%;
              border-radius: 0.4vw;
              margin-left: 2.6vw;
       }  
          
       .reg-user-btn-div{
              width: 35%;
       }
          
       .reg-user-btn{
              padding: 0.7vw 1vw;
              font-size: 1.7vw;
              border-radius: 0.6vw;
              margin-top: 1.3vw;
              margin-bottom: 1.5vw;
       }
}

@media screen and (max-width: 1000px) {
       .add-customer-container{
              width: 52vw;
       }
          
       .add-customer-title{
              font-size: 3vw;
       }
       .customer-registration, .customer-name, .customer-number, .customer-brand, .customer-branch{
              font-size: 2.1vw;
       }
          
       .input-reg-customer {
              padding: 0.9vw;
              width: 62%;
              border-radius: 0.4vw;
              margin-left: 0.8vw;
       }
          
       .input-reg-name {
              padding: 0.9vw;
              width: 62%;
              border-radius: 0.4vw;
              margin-left: 4.2vw;
       }
          
       .input-reg-number{
              padding: 0.9vw;
              width: 62%;
              border-radius: 0.4vw;
              margin-left: 2.1vw;
       }
          
       .input-reg-brand {
              padding: 0.9vw;
              width: 62%;
              border-radius: 0.4vw;
              margin-left: 3vw;
       }
             
       .input-reg-branch {
              padding: 0.9vw;
              width: 62%;
              border-radius: 0.4vw;
              margin-left: 3vw;
       }  
          
       .reg-user-btn-div{
              width: 35%;
       }
          
       .reg-user-btn{
              padding: 1vw 1vw;
              font-size: 2.1vw;
              border-radius: 0.6vw;
              margin-top: 1.3vw;
              margin-bottom: 1.5vw;
       }
}

@media screen and (max-width: 670px) {
       .add-customer-container{
              width: 70vw;
       }
          
       .add-customer-title{
              font-size: 4.2vw;
       }
       .customer-registration, .customer-name, .customer-number, .customer-brand, .customer-branch{
              font-size: 2.6vw;
       }
          
       .input-reg-customer {
              padding: 0.9vw;
              width: 64%;
              border-radius: 0.4vw;
              margin-left: 0.8vw;
              margin-bottom: 2.5vw;
       }
          
       .input-reg-name {
              padding: 0.9vw;
              width: 64%;
              border-radius: 0.4vw;
              margin-left: 4.9vw;
              margin-bottom: 2.5vw;
       }
          
       .input-reg-number{
              padding: 0.9vw;
              width: 64%;
              border-radius: 0.4vw;
              margin-left: 2.3vw;
              margin-bottom: 2.5vw;
       }
          
       .input-reg-brand {
              padding: 0.9vw;
              width: 64%;
              border-radius: 0.4vw;
              margin-left: 3.2vw;
              margin-bottom: 2.5vw;
       }
             
       .input-reg-branch {
              padding: 0.9vw;
              width: 64%;
              border-radius: 0.4vw;
              margin-left: 3.2vw;
              margin-bottom: 2.5vw;
       }  
          
       .reg-user-btn-div{
              width: 35%;
       }
          
       .reg-user-btn{
              padding: 1.3vw 1vw;
              font-size: 2.7vw;
              border-radius: 0.6vw;
              margin-top: 1.3vw;
              margin-bottom: 2vw;
       }
}

@media screen and (max-width: 500px) {
       .add-customer-container{
              width: 92vw;
       }
          
       .add-customer-title{
              font-size: 6vw;
       }
       .customer-registration, .customer-name, .customer-number, .customer-brand, .customer-branch{
              font-size: 5vw;
       }
          
       .input-reg-customer {
              padding: 2vw 3vw;
              width: 50%;
              border-radius: 0.4vw;
              margin-left: 0.8vw;
              margin-bottom: 5vw;
       }
          
       .input-reg-name {
              padding: 2vw 3vw;
              width: 50%;
              border-radius: 0.4vw;
              margin-left: 8vw;
              margin-bottom: 5vw;
       }
          
       .input-reg-number{
              padding: 2vw 3vw;
              width: 50%;
              border-radius: 0.4vw;
              margin-left: 3vw;
              margin-bottom: 5vw;
       }
          
       .input-reg-brand {
              padding: 2vw 3vw;
              width: 50%;
              border-radius: 0.4vw;
              margin-left: 4.7vw;
              margin-bottom: 5vw;
       }
             
       .input-reg-branch {
              padding: 2vw 3vw;
              width: 50%;
              border-radius: 0.4vw;
              margin-left: 4.7vw;
              margin-bottom: 5vw;
       }  
          
       .reg-user-btn-div{
              width: 40%;
       }
          
       .reg-user-btn{
              padding: 2vw 1vw;
              font-size: 4vw;
              border-radius: 1vw;
              margin-top: 1.3vw;
              margin-bottom: 5vw;
       }
}