.eventInfo1-container {
  width: 80%;
  margin: auto;
  margin-top: 5vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5vw 1.5vw 1.5vw 1.5vw;
}
.eventInfo1-title {
  text-align: center;
  font-size: 2vw;
}

.edit-event-btn11 {
  position: absolute;
  right: 11%;
  top: 14%;
  width: 10%;
  font-size: 1.3vw;
  font-weight: 500;
  padding: 0.4vw 0vw;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  border-radius: 0.3vw;
}

.edit-event-btn11:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.edit-event-btn11:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
.eventInfo-1,
.eventInfo-2,
.eventInfo-3,
.eventInfo-4,
.eventInfo-5 {
  text-align: center;
}
.eventInfo-11,
.eventInfo-22,
.eventInfo-33,
.eventInfo-44,
.eventInfo-55 {
  margin-right: 0.5vw;
  font-size: 1.5vw;
  font-weight: 600;
}
.eventInfo-111,
.eventInfo-222,
.eventInfo-333,
.eventInfo-444,
.eventInfo-555 {
  font-size: 1.4vw;
}
.eventInfo-6 {
  text-align: center;
}
.eventInfo-66 {
  font-size: 1.5vw;
  font-weight: 600;
  text-align: center;
}
.eventInfo-666 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 0.5vw;
  flex-wrap: wrap;
  padding: 0%;
}
.eventInfo-666 li {
  list-style: none;
  margin-right: 0.2vw;
  font-size: 1.2vw;
}
.eventInfo-6666 {
  color: red;
  font-size: 1.1vw;
}

.eventInfo-7 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.add-user-container {
  width: 50%;
}
.add-user-title {
  text-align: center;
  font-size: 1.3vw;
}

.add-user-btn1 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 0.3vw;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 1vw;

  padding: 0.4vw 0vw;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 7vw;
  margin-left: 2vw;
}

.add-user-btn1:hover {
  background-color: #f7fafa;
}

.add-user-btn1:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.select-user {
  width: 50%;
  border: none;
  padding-left: 1vw;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  margin-left: 1.5vw;
  height: 1.5vw;
}

@media screen and (max-width: 1024px) {
  .eventInfo1-container {
    width: 90%;
    padding: 0.5vw 1.5vw 3vw 1.5vw;
  }
  .eventInfo1-title {
    font-size: 3.5vw;
  }
  
  .edit-event-btn11 {
    right: 10%;
    top: 12%;
    width: 15%;
    font-size: 2vw;
    padding: 0.6vw 0vw;
  }

  .eventInfo-11,
  .eventInfo-22,
  .eventInfo-33,
  .eventInfo-44,
  .eventInfo-55 {
    font-size: 2vw;
  }
  .eventInfo-111,
  .eventInfo-222,
  .eventInfo-333,
  .eventInfo-444,
  .eventInfo-555 {
    font-size: 1.8vw;
  }

  .eventInfo-66 {
    font-size: 2vw;
  }
  
  .eventInfo-666 li {
    margin-right: 0.5vw;
    font-size: 1.7vw;
  }
  
  .eventInfo-7 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 2vw;
  }
  .add-user-container {
    width: 50%;
  }
  .add-user-title {
    font-size: 2vw;
  }
  
  .add-user-btn1 {
    font-size: 1.7vw;
    padding: 0.5vw 0vw;
    width: 12vw;
  }
  
  .select-user {
    width: 50%;
    border: none;
    padding: 0.7vw 1vw;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    margin-left: 1.5vw;
    height: 1.5vw;
  }
  
}

@media screen and (max-width: 560px) {
  .eventInfo1-container {
    width: 95%;
  }
  .eventInfo1-title {
    font-size: 5vw;
  }
  
  .edit-event-btn11 {
    right: 5%;
    top: 10%;
    width: 22%;
    font-size: 3vw;
    padding: 0.8vw 0vw;
  }

  .eventInfo-11,
  .eventInfo-22,
  .eventInfo-33,
  .eventInfo-44,
  .eventInfo-55 {
    font-size: 3.5vw;
  }
  .eventInfo-111,
  .eventInfo-222,
  .eventInfo-333,
  .eventInfo-444,
  .eventInfo-555 {
    font-size: 2.6vw;
  }

  .eventInfo-66 {
    font-size: 3.5vw;
  }

  .eventInfo-666 {
    width: 90%;
    margin-top: 0.8vw;
  }
  
  .eventInfo-666 li {
    font-size: 2.6vw;
    margin-top: 0.5vw;
  }
  
  .eventInfo-7 {
   flex-direction: column;
   align-items: center;
  }
  .add-user-container {
    width: 95%;
  }
  .add-user-title {
    font-size: 4vw;
  }
  
  .add-user-btn1 {
    font-size: 3vw;
    border-radius: 0.5vw;
    font-weight: 500;
    padding: 1vw 0vw;
    width: 22vw;
    margin-left: 3vw;
  }
  .form-11{
    width: 100%;
    margin: auto;
  }
  
  .select-user {
    width: 65%;
    padding: 2vw 1vw;
    margin-left: 0vw;
  }
  
}