.search-container{
    position: absolute;
    width: 80%;
    margin: auto;
    margin-left: 20%;
    margin-top: 6vw;
    z-index: 1;
}

.search-title{
    text-align: center;
    font-size: 2vw;
}

  .search-inner-container{
    padding: 0%; 
    display: flex;   
    margin: 0%;
  }

  .search-inner-container1{
    padding: 0%;
    margin-top: 2vw;
  }
  .search-inner-container1 li{
    list-style: none;
  }
  .flex1{
    display: flex;
    justify-content: space-between;
  }

  .search-inner-name1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.7vw 0rem;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .search-inner-batch1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.7vw 0rem;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .search-inner-brand1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.7vw 0rem;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .search-inner-events1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.7vw 0rem;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .search-inner-event-flow1{
    width: 20%;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 0.7vw 0rem;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .search-inner-name{
    width: 20%;
    font-size: 1.3vw;
    padding: 0.7vw 0rem;
    font-weight: 500;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .search-inner-batch{
    width: 20%;
    font-size: 1.3vw;
    padding: 0.7vw 0rem;
    font-weight: 500;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .search-inner-brand{
    width: 20%;
    font-size: 1.3vw;
    padding: 0.7vw 0rem;
    font-weight: 500;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  .search-inner-events{
    width: 20%;
    font-size: 1.3vw;
    padding: 0.7vw 0rem;
    font-weight: 500;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .search-inner-event-flow{
    width: 20%;
    font-size: 1.3vw;
    padding: 0.7vw 0rem;
    font-weight: 500;
    text-align: center;
    color: black;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }


  .search-inner-container11{
    width: 30%;
    padding: 0%;
    margin: auto;
    margin-top: 3vw;
  }

  .input-wrapper input {
    background-color: #f6f0f0;
    border: none;
    text-align: center;
    padding: 1vw 0rem;
    font-size: 1vw;
    width: 100%;
    border-radius: 1vw;
    color: black;
    box-shadow: 0 0.2vw #dfd9d9;
    cursor: pointer;
  }
  
  .input-wrapper input:focus {
    outline-color: grey;
  }

  .search-btn{
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 0.5vw;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 1.2vw;
    justify-content: center;
    padding: 0.5vw 0rem;
    width: 35%;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 1vw;
    margin-top: 1vw;
  }
  
  .searchbtn:active,
  .search-btn:hover {
    outline: 0;
  }
  
  .search-btn:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }

 
  
  

  .reset-search-btn{
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 0.5vw;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 1.2vw;
    justify-content: center;
    padding: 0.5vw 0rem;
    width: 52%;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 1vw;
    margin-top: 1vw;
  }
  
  .reset-search-btn:active,
  .reset-search-btn:hover {
    outline: 0;
  }
  
  .reset-search-btn:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }

  .para-null{
    font-size: 1.5vw;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 2vw;
  }
 

  @media screen and (max-width: 1067px) {
    .search-container{
      margin-left: 25%;
      width: 75%;
    }
    .search-title{
      font-size: 3vw;
    }
    .search-inner-container11{
      width: 40%;
    }
    .input-wrapper input {
      padding: 1vw 0rem;
      font-size: 1.3vw;
      width: 100%;
    }
    .search-btn{
      font-size: 1.5vw;
      padding: 0.8vw 0vw;
    }
    .reset-search-btn{
      font-size: 1.5vw;
      padding: 0.8vw 0vw;
    }
  }
  @media screen and (max-width: 1000px) {
    .search-inner-name1{
      font-size: 1.8vw;
      padding: 1vw 0rem;
      font-weight: 600;
    }
  
    .search-inner-batch1{
      font-size: 1.8vw;
      padding: 1vw 0rem;
      font-weight: 600;
      width: 15%;
    }
    .search-inner-brand1{
      font-size: 1.8vw;
      padding: 1vw 0rem;
      font-weight: 600;
      width: 15%;
    }
    .search-inner-events1{
      font-size: 1.8vw;
      padding: 1vw 0rem;
      font-weight: 600;
    }
  
    .search-inner-event-flow1{
      font-size: 1.8vw;
      padding: 1vw 0rem;
      font-weight: 600;
      width: 30%;
    }
  
    .search-inner-name{
      font-size: 1.6vw;
      padding: 1vw 0rem;
    }
  
    .search-inner-batch{
      font-size: 1.6vw;
      padding: 1vw 0rem;
      width: 15%;
    }
    .search-inner-brand{
      font-size: 1.6vw;
      padding: 1vw 0rem;
      width: 15%;
    }
    .search-inner-events{
      font-size: 1.6vw;
      padding: 1vw 0rem;
    }
  
    .search-inner-event-flow{
      font-size: 1.6vw;
      width: 30%;
      padding: 1vw 0rem;
    }
  
  }

  @media screen and (max-width: 768px) {
    .search-container{
      margin-left: 28%;
      width: 72%;
    }
    .search-title{
      font-size: 3vw;
    }
    .search-inner-container11{
      width: 45%;
    }
    .input-wrapper input {
      padding: 1.3vw 0rem;
      font-size: 1.5vw;
      width: 100%;
    }
    .search-btn{
      font-size: 1.7vw;
      padding: 0.8vw 0vw;
    }
    .reset-search-btn{
      font-size: 1.7vw;
      padding: 0.8vw 0vw;
    }
  }

  @media screen and (max-width: 570px) {
    .search-container{
      margin-left: 0%;
      width: 100%;
    }
    .search-title{
      font-size: 4vw;
      margin-top: 10vw;
    }
    .search-inner-container11{
      width: 60%;
    }
    .input-wrapper input {
      padding: 2vw 0rem;
      font-size: 2.5vw;
    }
    .search-btn{
      font-size: 2.8vw;
      padding: 1.2vw 0vw;
      margin-top: 4vw;
      margin-left: 2vw;
    }
    .reset-search-btn{
      font-size: 2.8vw;
      padding: 1.2vw 0vw;
      margin-top: 4vw;
      margin-left: 3vw;
    }
    .para-null{
      font-size: 3vw;
      font-weight: 500;
      width: 50%;
      margin-top: 4vw;
    }
    .search-inner-container1{
      margin-top: 5vw;
    }
    .search-inner-name1{
      font-size: 3vw;
      padding: 1.5vw 0rem;
    }
  
    .search-inner-batch1{
      width: 15%;
      font-size: 3vw;
      padding: 1.5vw 0rem;
    }
    .search-inner-brand1{
      font-size: 3vw;
      padding: 1.5vw 0rem;
      width: 15%;
    }
    .search-inner-events1{
      font-size: 3vw;
      padding: 1.5vw 0rem;
    }
  
    .search-inner-event-flow1{
      font-size: 3vw;
      width: 30%;
      padding: 1.5vw 0rem;
    }
  
    .search-inner-name{
      font-size: 2.7vw;
      padding: 1.5vw 0rem;
    }
  
    .search-inner-batch{
      font-size: 2.7vw;
      width: 15%;
      padding: 1.5vw 0rem;
    }
    .search-inner-brand{
      font-size: 2.7vw;
      padding: 1.5vw 0rem;
      width: 15%;
    }
    .search-inner-events{
      font-size: 2.7vw;
      padding: 1.5vw 0rem;
    }
  
    .search-inner-event-flow{
      width: 30%;
      font-size: 2.7vw;
      padding: 1.5vw 0rem;
    }
  
  }
  
  