.loading{
    text-align: center;
    font-size: 1.5vw;
    color: greenyellow;
    margin-top: 3vw;
}

.update-admin-container{
    width: 40%;
    margin: auto;
    margin-top: 7vw;
    padding-top: 2vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.update-admin-title{
    text-align: center;
    font-size: 2vw;
}

.label-reg-number1, .label-reg-name1, .label-reg-password1,.label-reg-role1{
    font-size: 1.4vw;
    font-weight: 600;
    margin-right: 1vw;
}

.reg-number-div1{
    width: 21.5vw;
    margin: auto;
}
.reg-name-div1{
    width: 21.5vw;
    margin: auto;
}
.reg-password-div1{
    width: 21.5vw;
    margin: auto;
}
.reg-role-div1{
    width: 21.5vw;
    margin: auto;
}
.input-reg-number1{
    border: none;
    padding: 0.8vw;
    width: 12vw;
    border-radius: 0.5vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 40px #c5c5c5,
           -10px -10px 40px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1.2vw;
    margin-left: 1vw;
   }
   .input-reg-name1{
    border: none;
    padding: 0.8vw;
    width: 12vw;
    border-radius: 0.5vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1.2vw;
    margin-left: 2.5vw;
   }

   .input-reg-password1{
    border: none;
    padding: 0.7vw 0.5vw;
    width: 12.5vw;
    border-radius: 0.3vw;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #c5c5c5,
           -10px -10px 20px #ffffff;
    transition: 0.3s;
    margin-bottom: 1.2vw;
    margin-top: 1.2vw;
    margin-left: 0vw;
   }

   .input-reg-role1{
        border: none;
        padding: 1.5vw 0.8vw;
        width: 13.5vw;
        font-size: 1vw;
        border-radius: 0.3vw;
        background: #e8e8e8;
        box-shadow: 10px 10px 20px #c5c5c5,
            -10px -10px 20px #ffffff;
        transition: 0.3s;
        margin-bottom: 1.2vw;
        margin-top: 1.2vw;
        padding: 0.5vw;
        margin-left: 3.4vw;
   }
   
   .input-reg-number1:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5,
           inset -10px -10px 20px #ffffff;
    transition: 0.3s;
   }

   .input-reg-name1:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5,
           inset -10px -10px 20px #ffffff;
    transition: 0.3s;
   }

   .input-reg-password1:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5,
           inset -10px -10px 20px #ffffff;
    transition: 0.3s;
   }
   .input-reg-role1:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 10px 10px 20px #c5c5c5,
           inset -10px -10px 20px #ffffff;
    transition: 0.3s;
   }

   .add-admin-btn-reg-div1{
    width: 15.5vw;
    margin: auto;
   }

   .add-admin-btn-reg1 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 0.5vw;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    padding: 0.5vw 3vw;
    justify-content: center;
    line-height: normal;
    overflow: visible;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 2.5vw;
    will-change: transform,opacity;
    z-index: 0;
    margin-top: 1.5vw;
  }
  
  .add-admin-btn-reg1:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .add-admin-btn-reg1:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .add-admin-btn-reg1:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .add-admin-btn-reg1:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .add-admin-btn-reg1:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .add-admin-btn-reg1:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .add-admin-btn-reg1:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .add-admin-btn-reg1:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

@media screen and (max-width: 1250px) {
  .update-admin-container{
    width: 60%;
  }
  
  .update-admin-title{
      font-size: 2.5vw;
  }
  
  .label-reg-number1, .label-reg-name1, .label-reg-password1,.label-reg-role1{
      font-size: 2vw;
  }
  
  .reg-number-div1{
      width: 30vw;
  }
  .reg-name-div1{
    width: 30vw;
  }
  .reg-password-div1{
    width: 30vw;
  }
  .reg-role-div1{
    width: 30vw;
  }
  .input-reg-number1{
    padding: 0.9vw 0.5vw;
    width: 18vw;
    margin-left: 1.7vw;
  }
  .input-reg-name1{
    padding: 0.9vw 0.5vw;
    width: 18vw;
    margin-left: 3.8vw;
  }
  
  .input-reg-password1{
    padding: 0.9vw 0.5vw;
    width: 18vw;
    margin-left: 0.1vw;
  }
  
  .input-reg-role1{
    padding: 0.9vw 0.5vw;
    width: 19vw;
    margin-left: 5vw;
    font-size: 1.4vw;
  }
     
  .add-admin-btn-reg-div1{
      width: 20vw;
  }
  
  .add-admin-btn-reg1 {
    width: 100%;   
    font-size: 1.5vw;
    padding: 0.8vw 0vw;
    margin-top: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .update-admin-container{
    width: 80%;
  }
  
  .update-admin-title{
      font-size: 3.5vw;
  }
  
  .label-reg-number1, .label-reg-name1, .label-reg-password1,.label-reg-role1{
      font-size: 2.7vw;
  }
  
  .reg-number-div1{
      width: 45vw;
  }
  .reg-name-div1{
    width: 45vw;
  }
  .reg-password-div1{
    width: 45vw;
  }
  .reg-role-div1{
    width: 45vw;
  }
  .input-reg-number1{
    padding: 1vw;
    padding-left: 2vw;
    width: 27vw;
    margin-left: 1.7vw;
  }
  .input-reg-name1{
    padding: 1vw;
    padding-left: 2vw;
    width: 27vw;
    margin-left: 4.3vw;
  }
  
  .input-reg-password1{
    padding: 1vw;
    padding-left: 2vw;
    width: 27vw;
    margin-left: 0.1vw;
  }
  
  .input-reg-role1{
    padding: 1vw;
    padding-left: 2vw;
    width: 30vw;
    margin-left: 6.5vw;
    font-size: 1.8vw;
  }
     
  .add-admin-btn-reg-div1{
      width: 25vw;
  }
  
  .add-admin-btn-reg1 {
    width: 100%;   
    font-size: 2.3vw;
    padding: 1.2vw 0vw;
    margin-top: 2vw;
  }
}

@media screen and (max-width: 550px) {
  .update-admin-container{
    width: 95%;
    padding-bottom: 5vw;
  }
  
  .update-admin-title{
      font-size: 5.5vw;
  }
  
  .label-reg-number1, .label-reg-name1, .label-reg-password1,.label-reg-role1{
      font-size: 4.5vw;
  }
  
  .reg-number-div1{
    width: 80vw;
    margin-top: 3vw;
  }
  .reg-name-div1{
    width: 80vw;
  }
  .reg-password-div1{
    width: 80vw;
    margin-top: 3vw;
  }
  .reg-role-div1{
    width: 80vw;
    margin-top: 3vw;
  }
  .input-reg-number1{
    padding: 1.5vw 1vw;
    padding-left: 4vw;
    width: 50vw;
    margin-left: 3vw;
    font-size: 3vw;
  }
  .input-reg-name1{
    padding: 1.5vw 1vw;
    padding-left: 4vw;
    width: 50vw;
    margin-left: 7vw;
    font-size: 3vw;
  }
  
  .input-reg-password1{
    padding: 1.5vw 1vw;
    padding-left: 4vw;
    width: 50vw;
    font-size: 3vw;
    margin-left: 0.1vw;
  }
  
  .input-reg-role1{
    padding: 1.5vw 1vw;
    padding-left: 4vw;
    width: 55vw;
    font-size: 3vw;
    margin-left: 11vw;
  }
     
  .add-admin-btn-reg-div1{
      width: 40vw;
      margin-top: 5vw;
  }
  
  .add-admin-btn-reg1 {
    width: 100%;   
    font-size: 4vw;
    padding: 1.6vw 0vw;
    margin-top: 2vw;
    border-radius: 1vw;
  }
}

  